page-login {

	.login {
		background: url('../assets/img/bgFocus.jpg') center center transparent;
		background-size: cover;

		.box {
			justify-content: space-around;
			height: 100%;

			.logo {
				img {
					margin: 0 auto;

					width: 118px;
					height: auto;
				}
			}

			.slogan {
				color: #fff;

				padding: 0 3em;

				font-size: 1.2em;
				font-weight: 700;

				margin: 0 auto;

				text-align: center;
			}

			button.facebookLogin {
				background-color: #0062f2;
				box-shadow: 0px 5px #004AB5;
				color: #fff;

				font-size: 1.2em;
				font-weight: 700;

				margin: 0 auto;
				padding: 25px 3em;
			}
		}
	}
}
