<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468184339406-kif4e5ujb4dk43ndniadti4ps84q0rhr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468184339406-kif4e5ujb4dk43ndniadti4ps84q0rhr</string>
	<key>API_KEY</key>
	<string>AIzaSyD5z6vZzw8hCrMmTXyWbe5gg4nSxzDMe34</string>
	<key>GCM_SENDER_ID</key>
	<string>468184339406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nucleo235.roupalivre</string>
	<key>PROJECT_ID</key>
	<string>roupalivre-144210</string>
	<key>STORAGE_BUCKET</key>
	<string>roupalivre-144210.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468184339406:ios:3556621633a45b27</string>
	<key>DATABASE_URL</key>
	<string>https://roupalivre-144210.firebaseio.com</string>
</dict>
</plist>