page-chat-details {

  ion-header,
  ion-navbar {
    height: 65px !important;
  }

  ion-content {
    background: #fcfcfc !important;
  }

  .scroll-content {
    overflow: auto;  /* redundant, but just in case */
    display: flex; /* redundant, but just in case */
    flex-direction: column-reverse;
  }

  ion-title {

    img.headerAvatar {
      margin: 0 auto;
      padding: 0;

      display: block;

      width: 36px;
      height: 36px;

      border-radius: 999em;
    }

    span.nameAvatar {
      font-size: 1.2rem;
    }

  }

	.avatar-title {

		.avatar-name {
			font-size: 9px;
			font-weight: 400;
			color: color($colors, muted);
			position: relative;
			top: -4px;
    }

  }

}

/* Chat bubble v1.0.0 */

$myMsgColor: #0062f2;
$otherMsgColor: #f4f4f4;
$tailSize: 10px;
$greyColor: #c9c9c9;

.chat-list {
	.chat-item {
		margin-bottom: 8px;
	}

	.chat-timestamp {
		text-align: center;
		font-size: 12px;
		padding: 8px;
		color: $greyColor;
	}

	.chat-item-status {
		font-size: .8em;
		color: $greyColor;
	}

	.chat-avatar {
		margin-right: 8px;
		align-self: flex-end;
		width: 40px;
    height: 40px;

		img {
			display: inline-block;
			width: 100%;
			border-radius: 50%;
		}
	}

	.chat-item-content {
		display: flex;
		flex-direction: row;
	}

	.chat-item-bubble {
		position: relative;
		max-width: 80%;
    margin-bottom: 4px;

		.icon-tail {
			position: absolute;
			top: inherit;
			right: inherit;
			bottom: 6px;
			left: -9px;
			border-bottom: $tailSize solid $otherMsgColor;
			border-right: $tailSize solid $otherMsgColor;
			border-top: $tailSize solid transparent;
			border-left: $tailSize solid transparent;
			border-bottom-left-radius: 6px;
		}

		.chat-body {
			display: inline-block;
			background: $otherMsgColor;
			border-radius: 10px;
			padding: 10px;
			white-space: normal;
			max-width: 100%;
			text-align: left;
			font-size: 16px;

			&.photo {
				padding: 0;
			}
		}

		&.bubble-image {
			.icon-tail {
				display: none;
      }

			img {
				width: 100%;
				border-radius: 16px;
			}
		}
	}

	.chat-item {
		&.me {
      text-align: right;

			.icon-tail {
				left: inherit;
				top: inherit;
				right: -9px;
				border-bottom: $tailSize solid $myMsgColor;
				border-right: $tailSize solid transparent;
				border-top: $tailSize solid transparent;
				border-bottom-right-radius: 6px;
			}

			.chat-item-content {
				justify-content: flex-end;
			}

			.chat-body {
				background: $myMsgColor;
				color: #fff;
			}
		}
	}

	.chat-item-reaction {
		text-align: center;
		font-size: 1.5em;
		color: $otherMsgColor;
		align-self: center;
		flex-grow: 99;
    padding-left: 8px;

		i.mdi {
			font-size: 2em;
		}
	}
}

.has-elastic-input .stick-bottom {
	align-self: flex-end;
	margin-bottom: 8px;
}

ion-footer {
  background: #eeeeee;
}

ion-textarea[fz-elastic] .text-input {

  background: #ffffff;

  font-size: 1.6rem;

  width: calc(100% - 55px);
  height: 40px;
  max-height: 40px;

	margin: 0 4px !important;
  padding: 10px 15px 5px 15px !important;

  border-radius: 30px !important;

	&.text-input-md {
		padding: 10px 15px 5px 15px !important;
	}
}

.button-submit {
  position: absolute !important;
  right: 0px !important;
  bottom: 0px !important;

  padding: 0 12px 0 0 !important;

  button.sendButton {
    background: linear-gradient(180deg, #3AE6D9 0%, #26B9E2 100%) !important;

    width: 33px !important;
    height: 33px !important;

    border-radius: 999em !important;
  }

}

.giphy-input {
	.text-input {
		background-color: #f8f8f8;
		border-radius: 22px;
		border: 1px solid #eee;
		min-height: 40px!important;
	}

	.toolbar-background {
		background: #eeeeee;
	}

	.button-gif {
		background-color: #488aff;
		color: white;
		font-weight: 700;
		font-size: 12px;
		border-radius: 999em;
		width: 28px;
		height: 28px;
	}
}
