<ion-header no-border class="header-shadow">
	<ion-navbar color="white">
		<ion-title *ngIf="chat">
      <img class="headerAvatar" [src]="chat.other_user.image | userImageSrc:chat.other_user.social_image">
			<span class="nameAvatar">{{ chat.other_user | shortName }}</span>
		</ion-title>
	</ion-navbar>
</ion-header>



<ion-content #content padding>
	<div class="wrapper text-center h-full" layout vertical center center-center *ngIf="chat && messages && messages.length == 0">
		<div>
			<div class="m-b">
				<div class="text-lg">Você e o <b>{{chat.other_user | shortName}}</b> curtiram a peça um do outro</div>
				<div>{{ chat.created_at | timeToString }}</div>
			</div>
			<div class="m-b">
				<img class="rounded thumb-xl" [src]="chat.other_user.image | userImageSrc:chat.other_user.social_image" />
			</div>
			<div class="text-lg">Suas mãos estão amarradas ou algo do tipo?</div>
		</div>
  </div>

	<ion-list #messagesList class="chat-list" no-lines>
		<div *ngFor="let item of messages; let i = index;">
      <div class="" *ngIf="item.type == 'InitialApparelChatMessage'">
        <div class="chat-timestamp">
          Opa, essas peças combinaram!
        </div>
        <ion-row align-items-center no-padding>
          <ion-col col-auto *ngFor="let apparel of item.apparels">
            <img class="rounded thumb-md" [src]="apparel.main_image_url | imageSrc">
          </ion-col>
        </ion-row>
      </div>
      <div class="" *ngIf="item.type == 'ApparelChatMessage'">
        <div class="chat-timestamp">
          Opa, mais combinações!
        </div>
        <ion-row align-items-center no-padding>
          <ion-col col-auto *ngFor="let apparel of item.apparels">
            <img class="rounded thumb-md" [src]="apparel.main_image_url | imageSrc">
          </ion-col>
        </ion-row>
      </div>
      <div class="chat-item" *ngIf="item.type == 'ChatMessage'" [ngClass]="{'me': (item.user_id == user.id)}">
        <div class="chat-timestamp">
          {{item.timestamp}}
        </div>

        <div class="chat-item-content">
          <!-- <div class="chat-avatar" *ngIf="!item.isMe">
            <img [src]="item.avatar">
          </div> -->

          <div class="chat-item-bubble" [ngClass]="{'bubble-image': item.type == 'image'}">
            <!-- <i class="icon-tail"></i> -->
            <div class="chat-body" *ngIf="item.type !== 'image'" [innerHtml]="item.message | nlbr"></div>
            <img [src]="item.message" *ngIf="item.type == 'image'">
          </div>

          <div class="chat-item-reaction" *ngIf="item.user_id != user.id && item.type == 'image'">
            <ion-icon name="md-heart-outline" class="text-muted"></ion-icon>
          </div>
        </div>

        <div class="chat-item-status" *ngIf="item.user_id == user.id && i == messages.length - 1">Enviado</div>
      </div>
		</div>
	</ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>



<ion-footer no-border [keyboardAttach]="content">
	<ion-toolbar class="has-elastic-input">
		<ion-textarea fz-elastic [(ngModel)]="typingMessage" placeholder="Digite uma mensagem"></ion-textarea>

		<ion-buttons right class="stick-bottom button-submit">
			<button class="sendButton" type="submit" [disabled]="typingMessage.length == 0" ion-button small color="dark" (tap)="sendMessage()">
				<ion-icon name="ios-send" color="white"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>
