<ion-header no-border class="header-shadow">
	<ion-navbar color="white">
		<ion-title>
      <img class="headerAvatar" src="https://www.shareicon.net/data/512x512/2016/07/05/791214_man_512x512.png">
			<span class="nameAvatar">Miguel</span>
		</ion-title>
	</ion-navbar>
</ion-header>



<ion-content #content padding>
	<div class="wrapper text-center h-full" layout vertical center center-center *ngIf="isNewMatch && messages.length == 0">
		<div>
			<div class="m-b">
				<div class="text-lg">Você e o <b>Miguel</b> curtiram a peça um do outro</div>
				<div>3 horas atrás</div>
			</div>
			<div class="m-b">
				<demo-avatar [sizeClass]="'thumb-xl'"></demo-avatar>
			</div>
			<div class="text-lg">Suas mãos estão amarradas ou algo do tipo?</div>
		</div>
	</div>

	<div class="chat-list" *ngIf="!isNewMatch || messages.length">
		<div class="chat-item" *ngFor="let item of messages" [ngClass]="{'me': item.isMe}">
			<div class="chat-timestamp">
				{{item.timestamp}}
			</div>

			<div class="chat-item-content">
				<!-- <div class="chat-avatar" *ngIf="!item.isMe">
					<img [src]="item.avatar">
				</div> -->

				<div class="chat-item-bubble" [ngClass]="{'bubble-image': item.type == 'image'}">
					<!-- <i class="icon-tail"></i> -->
					<div class="chat-body" *ngIf="item.type !== 'image'" [innerHtml]="item.body | nlbr"></div>
					<img [src]="item.body" *ngIf="item.type == 'image'">
				</div>

				<div class="chat-item-reaction" *ngIf="!item.isMe && item.type == 'image'">
					<ion-icon name="md-heart-outline" class="text-muted"></ion-icon>
				</div>
			</div>

			<div class="chat-item-status" *ngIf="item.isMe">Enviado</div>
		</div>
	</div>
</ion-content>



<ion-footer no-border [keyboardAttach]="content">
	<ion-toolbar class="has-elastic-input">
		<ion-textarea fz-elastic [(ngModel)]="typingMessage" placeholder="Digite uma mensagem"></ion-textarea>

		<ion-buttons right class="stick-bottom button-submit">
			<button class="sendButton" type="submit" [disabled]="typingMessage.length == 0" ion-button small color="dark" (tap)="sendMessage()">
				<ion-icon name="ios-send" color="white"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>
