<ion-header no-border>
	<app-header [activeView]="'profile'"></app-header>
</ion-header>


<ion-content>

  <ion-card>

    <ion-card-content>
      <div class="profilePhoto">
        <button ion-button icon-only clear class="btn-edit" (tap)="goToSettings()">
          <ion-icon name="ios-settings" color="white"></ion-icon>
        </button>
        <img [src]="(user | userImageSrc) || 'https://www.shareicon.net/data/512x512/2016/07/05/791214_man_512x512.png'">
      </div>

      <h2 class="title">Oiê, {{ this.user | shortName  }}</h2>
      <p class="subtitle">Liberte suas roupas!</p>

      <div class="groupButtons">
        <button ion-button block round class="gradient" (tap)="goToOfferItem()">
          OFERECER PEÇAS
        </button>

        <!-- <button ion-button block clear color="gray" (tap)="showSettings()">
          CONFIGURAÇÕES
        </button> -->
      </div>

      <ion-list no-padding>

        <ion-list-header>
          MINHAS PEÇAS
        </ion-list-header>

        <ion-item detail-push *ngIf="!items || items.length == 0">
          <p (tap)="goToOfferItem()">
            Ainda não tem peças? Cadastre-já!
          </p>
        </ion-item>

        <ion-item detail-push *ngFor="let item of items" (tap)="goToOfferItem(item)">
          <ion-thumbnail item-start>
            <img [src]="item.apparel_images[0] | itemImageSrc">
          </ion-thumbnail>
          <h2>{{ item.title }}</h2>
          <p>
            <span *ngIf="item.size_info && (item.age_info || item.gender)">
              Tamanho {{item.size_info}} - {{item.gender}} {{ item.age_info }}
            </span>
            <span *ngIf="!item.size_info && (item.age_info || item.gender)">
              {{item.gender}} {{ item.age_info }}
            </span>
            <span *ngIf="item.size_info && !(item.age_info || item.gender)">
              Tamanho {{item.size_info}}
            </span>
          </p>
          <button *ngIf="item.likes_count" ion-button clear color="blueLight" class="matches">{{item.likes_count}} Combinações</button>
        </ion-item>

      </ion-list>

    </ion-card-content>

  </ion-card>

</ion-content>
