page-profile {

  ion-content {
    background: #f9f9f9 !important;
  }

  ion-card {
    border-radius: 10px !important;

    .profilePhoto {
      position: relative;

      img {
        background: #ccc;

        width: 154px;
        height: 154px;

        border-radius: 999em;

        margin: 1rem auto 3rem auto;
        display: block;
      }

      .btn-edit {
        position: absolute;
        bottom: 0px;
        right: calc(50% - 77px);
        background-color: #3AE6D9;
        background: linear-gradient(180deg, #3AE6D9 0%, #26B9E2 100%) !important;
        width: 40px;
        height: 40px;
        border-radius: 999em;

        ion-icon {
          font-weight: 800 !important;
        }
      }
    }

    h2.title {
      color: #323232;
      text-align: center;
      font-size: 2.6rem;
      width: 100%;
    }

    p.subtitle {
      color: #323232;
      text-align: center;
      font-size: 1.8rem;
      width: 80%;
      padding: 0;
      margin: 0 auto;
    }

    .groupButtons {
      margin: 2rem auto;
      width: 100%;

      button {
        position: relative;
        margin: 0 auto;
        width: 70%;

        font-size: 12px;
        font-weight: bold;

        height: 48px;

        &.gradient {
          background: linear-gradient(-20deg, #86e1d7 0%,#53cbf1 40%,#008de9 100%) !important;
        }

      }

    }

  }

  ion-list {
    // background: #f2f2f2 !important;

    ion-item {
      // background: #f2f2f2 !important;

      ion-thumbnail {
        width: 64px;
        height: 64px;

        img {
          width: 64px;
          height: 64px;

          border-radius: 999em;
        }

      }

      button.item-button {
        padding: 0 !important;
      }

      .matches {
        margin: 0 !important;
        padding: 0 !important;
      }

    }

  }

}
