<ion-content class="bottom-padding">
	<div class="header-cover">
		<div class="slide-pager" layout horizontal center>
			<div flex class="pager-bullet" *ngFor="let item of slideImages; let i = index" [ngClass]="{active: i == currentSlideIndex}"></div>
		</div>

		<ion-slides (ionSlideDidChange)="slideChanged()">
			<ion-slide *ngFor="let item of slideImages; let i = index">
				<div [style.backgroundImage]="'url(' + item.url + ')'" class="div-img"></div>
			</ion-slide>
		</ion-slides>
		<button ion-button icon-button color="primary" round class="btn-rounded btn-fab" (tap)="close()">
			<ion-icon name="md-arrow-round-down"></ion-icon>
		</button>
	</div>

	<div class="wrapper b-b b-light">
		<div class="text-xl m-b-sm">
			<span class="font-bold">Sapatos</span>, 29
		</div>
		<div class="text-muted l-h text-xs">
			<ion-icon name="ios-person-outline"></ion-icon>
			Miguel R Ayoub
			<br>
			<ion-icon name="ios-pin-outline" class="m-r-xs"></ion-icon>
			Está a menos de 5km
		</div>
	</div>

	<div class="wrapper text-muted b-b b-light">
		<div class="color-black font-bold text-sm m-b">Caracteristicas</div>
		Calçados | Sapato | Adulto | Tamanho 29
	</div>

	<div class="wrapper text-muted b-b b-light">
		<div class="color-black font-bold text-sm m-b">Descrição</div>
		Uma descrição detalhada da peça ou produto que esta sendo apresentado.
	</div>

	<div class="wrapper text-muted b-b b-light">
		<div class="color-black font-bold text-sm m-b">Hashtags</div>

		<div>
			<button ion-button outline small color="primary">hash 01</button>
			<button ion-button outline small color="primary">hashtag02</button>
			<button ion-button outline small color="primary">h03</button>
			<button ion-button outline small color="primary">ht 04</button>
			<button ion-button outline small color="primary">h-005</button>
			<button ion-button outline small color="primary">hasht06</button>
			<button ion-button outline small color="primary">htag 07</button>
			<button ion-button outline small color="primary">h 08</button>
		</div>
	</div>
</ion-content>

<div class="bottom-actions bottom-buttons" horizontal layout center center-center>
	<button ion-button color="light" class="button-dislike" (tap)="disliked()">
		<ion-icon name="md-close"></ion-icon>
	</button>
	<button ion-button color="light" class="button-warning" (tap)="doComplaint()">
		<ion-icon name="ios-warning-outline"></ion-icon>
	</button>
	<button ion-button color="light" class="button-like" (tap)="liked()">
		<ion-icon name="md-heart"></ion-icon>
	</button>
</div>
