page-item-details {

  ion-content {
    background: #f2f2f2 !important;
  }

	.header-cover {
		position: relative;

		.div-img {
			height: 0px;
			padding-bottom: 100%;
		}
	}

	.slide-pager {
		position: absolute;
		top: 4px;
		left: 4px;
		right: 4px;
		height: 4px;
		z-index: 999;

		.pager-bullet {
			height: 4px;
			margin: 0 2px;
			border-radius: 999em;
			background-color: #fff !important;

			&.active {
				background-color: #3ff2d7 !important;
			}
		}
	}

	.btn-rounded {
		width: 32px;
		height: 32px;
		padding: 0;
		font-size: 22px;
		background: color($colors, primary);
		background-image: linear-gradient(180deg, #3AE7D9 0%, #26B8E2 100%) !important;
	}

	.btn-fab {
		position: absolute;
		right: 12px;
		bottom: -16px;
		z-index: 999;
  }

  ion-col {
    padding: 0 5px !important;

    &.title {
      color: #565656;
      font-size: 2.6rem;
      font-size: 800;

      margin: 1rem 0 .5rem 0 !important;
    }

    &.feature {
      color: #565656;
      font-size: 1.6rem;
    }

    &.description {
      color: #636363;
      font-size: 1.4rem;
    }
  }


  .hashtags {
    padding: 1rem 5px !important;

    button {
      font-size: 1.2rem !important;
    }
  }

  ion-list.ownerInfo {
    margin: 0 !important;

    ion-item {

      ion-thumbnail {
        width: 64px;
        height: 64px;

        img {
          width: 64px;
          height: 64px;

          border-radius: 999em;
        }

      }

      h2, p {
        margin: 0 !important;
        padding: 0 !important;
      }

      button.item-button {
        padding: 0 !important;
      }

      .allItems {
        font-size: 1.2rem !important;
        margin: 0 !important;
        padding: 0 !important;
      }

    }

  }

  .bottom-actions {
    height: 86px;
    margin: 2rem 0 6rem 0;

    align-items: flex-start !important;
    align-content: flex-start !important;
    justify-content: center !important;

    button {
      background: transparent !important;

      margin: 0 !important;
      padding: 0 !important;

      width: 76px;
      height: 76px;

      img {
        width: 76px;
        height: 76px;
      }

      &:nth-child(2n) {
        width: 56px !important;
        height: 56px !important;

        img {
          width: 56px;
          height: 56px;
        }

      }

    }
  }
}
