<ion-content class="bottom-padding">
	<div class="header-cover">
		<div class="slide-pager" layout horizontal center>
			<div flex class="pager-bullet" *ngFor="let image of item.apparel_images; let i = index" [ngClass]="{active: i == currentSlideIndex}"></div>
		</div>

		<ion-slides (ionSlideDidChange)="slideChanged()">
			<ion-slide *ngFor="let image of item.apparel_images; let i = index">
				<div [style.backgroundImage]="(image | itemImageBgSrc)" class="div-img"></div>
			</ion-slide>
		</ion-slides>
		<button ion-button icon-button color="primary" round class="btn-rounded btn-fab" (tap)="close()">
			<ion-icon name="md-arrow-round-up"></ion-icon>
		</button>
  </div>

  <ion-grid>

    <ion-row align-items-top no-padding>
      <ion-col class="title">{{item.title}}</ion-col>
    </ion-row>

    <ion-row align-items-top no-padding>
      <ion-col col-auto>
        <img src="assets/img/newLayout/size-icon.svg">
      </ion-col>
      <ion-col class="feature">
        <span *ngIf="item.size_info && (item.age_info)">
          {{item.age_info}} - Tamanho {{item.size_info}}
        </span>
        <span *ngIf="!item.size_info && (item.age_info)">
          {{item.age_info}}
        </span>
        <span *ngIf="item.size_info && !(item.age_info)">
          Tamanho {{item.size_info}}
        </span>
      </ion-col>
    </ion-row>

    <ion-row align-items-top no-padding *ngIf="item.gender">
      <ion-col col-auto>
        <img src="assets/img/newLayout/gender-icon.svg">
      </ion-col>
      <ion-col class="feature">
        {{item.gender}}
      </ion-col>
    </ion-row>

    <ion-row align-items-top no-padding *ngIf="item.use_info">
      <ion-col col-auto>
        <img src="assets/img/newLayout/star-icon.svg">
      </ion-col>
      <ion-col class="feature">
        Usada poucas vezes
      </ion-col>
    </ion-row>

    <ion-row align-items-top no-padding>
      <ion-col class="description">
        {{item.description}}
      </ion-col>
    </ion-row>

    <ion-row align-items-top no-padding *ngIf="item.apparel_tags && item.apparel_tags.length > 0">
      <ion-col class="hashtags">
        <button *ngFor="let tag of item.apparel_tags" ion-button outline small color="blueLight" (click)="openTag(tag)">{{tag.name}}</button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-list no-padding class="ownerInfo">

    <ion-item detail-push >
      <ion-thumbnail item-start>
        <img [src]="item.user ? (item.user | userImageSrc) : 'https://www.shareicon.net/data/512x512/2016/07/05/791214_man_512x512.png'">
      </ion-thumbnail>

      <h2>{{item.user | shortName}}</h2>
      <p>{{ item.distance | distanceToString }}</p>
      <button ion-button clear small color="blueLight" class="allItems" (click)="openProfile(entry.user)">
        VER TODAS PEÇAS
      </button>
    </ion-item>

  </ion-list>

  <div class="bottom-actions" horizontal layout center center-center>
    <button ion-button (tap)="disliked()">
      <img src="assets/img/newLayout/dislike-button.svg" />
    </button>

    <button ion-button (tap)="doComplaint()">
      <img src="assets/img/newLayout/pin-button.svg" />
    </button>

    <button ion-button (tap)="liked()">
      <img src="assets/img/newLayout/like-button.svg" />
    </button>
  </div>

</ion-content>
