page-settings {

  .toolbar-background {
    background: #fcfcfc !important;
    border: 0 !important;

    margin: 0 !important;
    padding: 0 !important;
  }

  ion-content {
    background: #f2f2f2 !important;
  }

  .profilePhoto img {
    background: #ccc;

    width: 154px;
    height: 154px;

    border-radius: 77px;

    margin: 1rem auto 0 auto;
    display: block;
  }

  ion-list.personalInfo {
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
  }

  ion-list.aboutInfo {
    margin-bottom: 1rem !important;
  }

  p.info {
    text-align: center;

    margin: 0 0 5rem 0;
    padding: 0;
  }

}
