page-item-matched {

  ion-content {
    background: linear-gradient(-40deg, #3FF2D7 0%, #0372EF 100%) !important;
  }

  h2.title {
    color: #ffffff;
    font-family: Kaushan Script, cursive !important;
    font-size: 6rem;
    text-align: center;

    margin-top: 56px;
  }

  p.description {
    color: #ffffff;
    font-size: 1.8rem;
    text-align: center;

    margin-top: 25px;
	}

  .matchToastItems {
    margin-top: 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    width: 100%;

    .match-avatar {
      position: relative;

      height: 186px;
      width: 177px;

      &.match-left {
        animation: fromLeft 1s ease-in;

        img.item {
          left: 72px;
        }
      }
      &.match-right {
        animation: fromRight 1s ease-in;

        img.item {
          right: 74px;
        }
      }

      img.hanger {
        height: 97px;
        width: 177px;
      }

      img.item {
        position: absolute;
        top: 88px;

        height: 100px;
        width: 100px;

        border-radius: 60px;
      }

    }

  }

	@keyframes fromLeft {
		0% {
			transform: translate3d(-177px, 0, 0);
		}
		100% {
			transform: translate3d(0, 0, 0);
		}
	}
	@keyframes fromRight {
		0% {
			transform: translate3d(177px, 0, 0);
		}
		100% {
			transform: translate3d(0, 0, 0);
		}
  }

  .groupButtons {
    margin: 1rem auto 0 auto;
    width: 100%;

    button {
      position: relative;
      margin: 0 auto 1.5rem auto;
      width: 60%;

      font-size: 12px;
      font-weight: bold !important;

      box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);

      height: 48px;

      &.match {
        background: #0062F2;
      }

      &.continue {
        background: #FF7575;
      }
    }

  }

}
