<ion-header no-border>
	<ion-navbar color="white">
		<ion-title>Nova/Editar peça</ion-title>

		<ion-buttons end>
			<button ion-button clear color="blueLight" (tap)="cancel()">
				Cancelar
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>



<ion-content *ngIf="item">

	<ion-list no-lines>
		<ion-list-header>
			IMAGENS
    </ion-list-header>

		<ion-item>
			<div class="profile-images-edit">
				<div class="profile-image" *ngFor="let image of profileImages; let i = index" (tap)="togglePhotoPicker(i)">
          <div *ngIf="hasImage(i)" [style.backgroundImage]="item.apparel_images[i] | itemImageBgSrc" class="div-img img-square r-3x"></div>
          <div *ngIf="!hasImage(i)" class="div-img img-square r-3x"></div>
					<button ion-button icon-only clear class="btn-edit" *ngIf="hasImage(i)">
						<ion-icon name="ios-close" color="white"></ion-icon>
					</button>
					<button ion-button icon-only clear class="btn-edit" *ngIf="!hasImage(i)">
						<ion-icon name="ios-add" color="white"></ion-icon>
					</button>
				</div>
			</div>
		</ion-item>
	</ion-list>

	<ion-list no-lines>
		<ion-list-header>
			TÍTULO
		</ion-list-header>

		<ion-item class="text-muted" text-wrap>
			<ion-input type="text" clearInput="true" name="title" [(ngModel)]="item.title" placeholder="qual peça você vai trocar?"></ion-input>
		</ion-item>
  </ion-list>

  <ion-list no-lines>
    <ion-list-header>
      PALAVRAS CHAVE OU HASHTAGS
    </ion-list-header>

    <ion-item class="text-muted" text-wrap>
      <ion-tags-input [(ngModel)]="tags" [canBackspaceRemove]="true" placeholder="separe com vírgulas"></ion-tags-input>
    </ion-item>
  </ion-list>

	<ion-list>
		<ion-list-header>
			CARACTERÍSTICAS DA PEÇA
		</ion-list-header>

    <ion-item detail-push *ngFor="let group of propertyGroups">
      <ion-label>{{group.name}}</ion-label>
      <ion-select cancelText="Cancelar" okText="Ok" [(ngModel)]="item.apparel_property[group.prop_name]" (ngModelChange)="groupPropertySelectionChanged(group)">
        <ion-option *ngFor="let option of group.properties" [value]="option.id">{{option.name}}</ion-option>
      </ion-select>
    </ion-item>
	</ion-list>

	<ion-list no-lines>
		<ion-list-header>
			DESCRIÇÃO
		</ion-list-header>

		<ion-item class="text-muted" text-wrap>
			<ion-textarea name="title" [(ngModel)]="item.description" placeholder="descreva detalhes para ajudar sua peça a ganhar um novo lar."></ion-textarea>
		</ion-item>
  </ion-list>

  <div class="groupButtons">
    <!-- USAR PARA NOVA PEÇA -->
    <button ion-button block round class="gradient" (tap)="save()">
      {{ item.id ? 'ATUALIZAR INFORMAÇÕES' : 'OFERECER PEÇA' }}
    </button>

    <button ion-button block round outline color="gray" (tap)="cancel()">
      CANCELAR
    </button>

    <button *ngIf="item.id" ion-button block round class="redGradient" (tap)="remove()">
      DELETAR PEÇA
    </button>

  </div>

</ion-content>
