<ion-header no-border>
	<ion-navbar color="white">

    <ion-buttons start>
      <button ion-button color="blueLight" (tap)="cancel()">Cancelar</button>
    </ion-buttons>

    <ion-title>Buscar</ion-title>

    <ion-buttons end>
      <button ion-button color="blueLight" (tap)="search()">OK</button>
    </ion-buttons>

	</ion-navbar>
</ion-header>


<ion-content>

	<ion-list no-lines>
		<ion-list-header>
			Palavras chave ou hashtags
		</ion-list-header>

		<ion-item>
      <ion-tags-input [(ngModel)]="filter.apparel_tags" [canBackspaceRemove]="true" placeholder="separe com vírgulas"></ion-tags-input>
		</ion-item>
	</ion-list>

	<ion-list no-lines>
		<ion-list-header>
      <button ion-button color="blueLight" clear (tap)="cleanFilters()">Limpar filtros</button>
			Características da Peça
		</ion-list-header>

		<ion-item detail-push *ngFor="let group of propertyGroups">
      <ion-label>{{group.name}}</ion-label>
      <ion-select cancelText="Cancelar" okText="Ok" [(ngModel)]="filter.apparel_property[group.prop_name]" (ngModelChange)="groupPropertySelectionChanged(group)">
        <ion-option *ngFor="let option of group.properties" [value]="option.id">{{option.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list no-lines>

    <ion-list-header>
      Localização da Peça
    </ion-list-header>

    <ion-item>
      <ion-label>Distância</ion-label>
      <ion-input class="distance" type="text" value="{{ filter.range }}km" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-range min="1" max="100" step="5" color="blueLight" [(ngModel)]="filter.range"></ion-range>
    </ion-item>

  </ion-list>

</ion-content>
