page-item-search {

  .toolbar-background {
    background: #fcfcfc !important;
    border: 0 !important;

    margin: 0 !important;
    padding: 0 !important;
  }

  ion-content {
    background: #f2f2f2 !important;
  }

  ion-list-header {
    background: transparent !important;
    button {
      float: right;

      &.item-button {
        font-size: 16px;
        margin: 0 !important;
        padding: 0 0.5em !important;
        height: 16px !important;
      }
    }
  }

  .select-icon {
    display: none !important;
  }

  .distance input {
    text-align: right;
  }

}
