.ios, .md {

  page-what-you-look-for {

    ion-content {
      background: #f2f2f2 !important;
    }

    .headerIcon {
      width: 201px;
      height: 180px;
      margin: 40px auto 20px auto;
    }

    h2.title {
      color: #000;
      text-align: center;
      font-size: 2.6rem;
      font-weight: 800 !important;
      width: 100%;
      margin-bottom: 2rem;
    }

    p.subtitle {
      color: #979797;
      text-align: center;
      font-size: 1.8rem;
      width: 80%;
      padding: 0;
      margin: 0.5rem auto 0 auto;
    }

    .optionsGrid {

      width: 100%;
      margin: 0.5rem auto 0 auto;

      div.option {
        margin: 1rem auto 0 auto;

        img {
          background: #eee;
          width: 100%;
          height: 100%;
          max-width: 89px;
          max-height: 89px;

          border-radius: 999em;

          display: block;
          margin: 0 auto 0.5rem auto;
        }

        p {
          text-align: center;
          margin: 0 auto;
        }

      }

    }

    .groupButtons {
      margin: 5rem auto 0 auto;
      width: 100%;

      button {
        position: relative;
        margin: 0 auto 1.5rem auto;
        width: 70%;

        font-size: 12px;
        font-weight: bold;

        height: 48px;

        &.gradient {
          background: linear-gradient(-90deg, #86e1d7 0%,#53cbf1 40%,#008de9 100%) !important;
        }

      }

    }

  }

}
