<ion-header no-border>
	<app-header [activeView]="'main'"></app-header>
</ion-header>

<ion-content class="swipe-bg" no-bounce>
	<div class="w-full no-cards titles" horizontal layout padding>
    <ion-row>
      <ion-col *ngIf="isSearching">
        <p class="subtitle">Resultado da busca para:</p>
        <p class="title">{{searchName}}</p>
      </ion-col>
      <ion-col id="exploring" *ngIf="!isSearching">
        <p class="subtitle">Você está vendo:</p>
        <p class="title">{{ 'apparel.explore.titles.default' | translate }}</p>
      </ion-col>
      <ion-col class="actions" col-auto align-self-end>
        <button ion-button clear small end bottom color="blueLight" (click)="search()">
          {{ 'menu.items.filter' | translate }}
        </button>
      </ion-col>
    </ion-row>
	</div>
  <div class="empty-items" layout vertical center center-center *ngIf="!isLoading && items && items.length == 0">
    <p class="description" *ngIf="isSearching">
      Parece que não encontramos nada com esse filtro, que tal altera-lo?
    </p>
    <p class="description" *ngIf="!isSearching">
      Parece que chegamos ao fim das peças!
    </p>
  </div>

  <div class="swipe-container">
    <div class="h-full wrapper-sm">
      <div class="card-stack" swing-stack #cardStack [stackConfig]="stackConfig" (throwoutleft)="disliked()" (throwoutright)="liked()">
        <div class="card-item" #card [style.zIndex]="-1 * i" swing-card *ngFor="let item of items; trackBy: trackByFn; let i = index">
          <div [style.backgroundImage]="(item.apparel_images[0] | itemImageBgSrc)" class="div-img h-full r-3x"></div>

          <div class="card-caption" (tap)="openItemDetails(item)">
            <div class="card-text pull-left">
              <div class="title">{{item.title}}</div>
              <div class="features">
                <span *ngIf="item.size_info && (item.age_info || item.gender)">
                  Tamanho {{item.size_info}} - {{item.gender}} {{ item.age_info }}
                </span>
                <span *ngIf="!item.size_info && (item.age_info || item.gender)">
                  {{item.gender}} {{ item.age_info }}
                </span>
                <span *ngIf="item.size_info && !(item.age_info || item.gender)">
                  Tamanho {{item.size_info}}
                </span>
              </div>
              <div class="description">{{item.description}}</div>
            </div>

            <div class="moreInfo">
              <button ion-button icon-only clear class="btnInfo">
                <ion-icon name="ios-add" color="white"></ion-icon>
              </button>
            </div>
          </div>

          <div class="stamp stamp-like">Sim</div>
          <div class="stamp stamp-nope">Não</div>
        </div>
      </div>
    </div>

		<div class="bottom-actions" horizontal layout center center-center *ngIf="items && items.length > 0">
			<button ion-button (tap)="disliked(item)">
				<img src="assets/img/newLayout/dislike-button.svg" />
			</button>

			<button ion-button (tap)="doComplaint(item)">
				<img src="assets/img/newLayout/pin-button.svg" />
			</button>

			<button ion-button (tap)="liked(item)">
				<img src="assets/img/newLayout/like-button.svg" />
			</button>
		</div>
	</div>
</ion-content>

<ion-content class="loading" *ngIf="isLoading" padding>
	<div layout vertical center class="box">
		<div class="logo">
			<img src="assets/img/clock.png" alt="roupa livre" />
		</div>

		<div class="info">
			{{ 'apparel.loading.message' | translate }}
		</div>
	</div>
</ion-content>
