<ion-header no-border>
	<app-header [activeView]="'main'"></app-header>
</ion-header>



<ion-content class="swipe-bg" no-bounce>
	<div class="h-full no-cards" [hidden]="!isLoading" horizontal layout center center-center>
		<div class="ripple-container">
			<div class="thumb-lg ripple-trigger">
				<img src="assets/img/logo.png" class="rounded b b-2x box-shadow thumb-lg">
			</div>
			<div class="ripple-1"></div>
			<div class="ripple-2"></div>
		</div>
	</div>

	<div class="swipe-container" [hidden]="isLoading">
		<div class="h-full wrapper-sm">
			<div class="card-stack" swing-stack #cardStack [stackConfig]="stackConfig" (throwoutleft)="disliked()" (throwoutright)="liked()">
				<div class="card-item" #card [style.zIndex]="-1 * i" swing-card *ngFor="let item of items; trackBy: trackByFn; let i = index">
					<div [style.backgroundImage]="(item.apparel_images[0] | itemImageBgSrc)" class="div-img h-full r-3x"></div>

					<div class="card-caption" (tap)="openItemDetails(item)">
						<div class="card-text pull-left">
							<div class="title">{{item.title}}</div>
							<div class="features">
                <span *ngIf="item.size_info && (item.age_info || item.gender)">
                  Tamanho {{item.size_info}} - {{item.gender}} {{ item.age_info }}
                </span>
                <span *ngIf="!item.size_info && (item.age_info || item.gender)">
                  {{item.gender}} {{ item.age_info }}
                </span>
                <span *ngIf="item.size_info && !(item.age_info || item.gender)">
                  Tamanho {{item.size_info}}
                </span>
              </div>
							<div class="description">{{item.description}}</div>
						</div>

						<div class="moreInfo">
              <button ion-button icon-only clear class="btnInfo">
                <ion-icon name="ios-add" color="white"></ion-icon>
              </button>
						</div>
					</div>

					<div class="stamp stamp-like">Sim</div>
					<div class="stamp stamp-nope">Não</div>
				</div>
			</div>
		</div>

		<div class="bottom-actions" horizontal layout center center-center>
			<button ion-button (tap)="disliked(item)">
				<img src="assets/img/newLayout/dislike-button.svg" />
			</button>

			<button ion-button (tap)="doComplaint(item)">
				<img src="assets/img/newLayout/pin-button.svg" />
			</button>

			<button ion-button (tap)="liked(item)">
				<img src="assets/img/newLayout/like-button.svg" />
			</button>
		</div>
	</div>
</ion-content>
