@import "../../app/helper.scss";

page-item-explore {

  ion-content.loading {
    background: linear-gradient(-40deg, #3FF2D7 0%, #0372EF 100%) !important;
    position: relative;
    z-index: 1000;

    .scroll-content {
      margin-top: 0px !important;
    }

    .box {
      justify-content: space-around;
      height: 100%;

      .logo {
          img {
              margin: 0 auto;

              width: 118px;
              height: auto;
          }
      }

      .info {
          color: #fff;

          padding: 0 3em;

          font-size: 1.2em;
          font-weight: 700;

          margin: 0 auto;

          text-align: center;
      }
    }
  }

  .titles {
    ion-row {
      width: 100%;
    }
    ion-col {
      padding: 0px;
    }

    .title {
      font-size: 1.3em;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
    .subtitle {
      font-size: 0.9em;
      margin: 0;
      padding: 0;
    }
    .actions {
      button, button.button-small-ios, .button-small-md {
        height: auto;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

	.swipe-bg {
		// background: #fff;
    // background-image: linear-gradient(#fff, #f6f7fb);
    background: #f2f2f2 !important;
	}

	.swipe-container {
		height: 100%;
    padding-bottom: 160px;
    background: #f2f2f2 !important;
	}

  .empty-items {
    height: 80%;
    padding: 0 20%;
    .description {
      text-align: center;
    }
  }
}

.card-container {
  height: 90%;
}

.card-stack {
	height: 100%;
  position: relative;

	.card-item {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
    height: 100%;
    border-radius: 6px;
		box-shadow: 0 2px 10px 0 hsla(206,7%,60%,.77);

		.card-caption {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: 20px;
			@extend .bg-gd-dk;
			color: white;
      border-radius: 0 0 6px 6px;

      .title {
        font-size: 2.6rem !important;
        font-weight: 800 !important;
      }

      .features {
        font-size: 1.6rem !important;
      }

      .description {
        font-size: 1.6rem !important;
      }


		}
	}

	.stamp {
		position: absolute;
		top: 20px;
		right: 10px;
		font-size: 30px;
		color: color($colors, dislike);
		border: 3px solid color($colors, dislike);
		border-radius: 4px;
		padding: 0px 4px;
		letter-spacing: 1px;
		font-weight: 700;
		text-transform: uppercase;
		transform: rotate(15deg);
		opacity: 0;
		&.stamp-like {
			right: initial;
			left: 10px;
			color: color($colors, like);
			border-color: color($colors, like);
			transform: rotate(-15deg);
			letter-spacing: 3px;
		}
	}
}

.moreInfo {
  position: absolute;
  bottom: 10px;
  right: 10px;

  .btnInfo {
    background-color: #3AE6D9;
    background: linear-gradient(180deg, #3AE6D9 0%, #26B9E2 100%) !important;
    font-size: 15px;
    width: 32px;
    height: 32px;
    border-radius: 999em;

    ion-icon {
      font-weight: 900 !important;
    }
  }

}

.bottom-actions {
	height: 86px;
  padding: 2rem 10px 0 10px;

  align-items: flex-start !important;
  align-content: flex-start !important;
	justify-content: center !important;

	button {
    background: transparent !important;

    margin: 0 !important;
    padding: 0 !important;

		width: 76px;
    height: 76px;

    img {
      width: 76px;
      height: 76px;
    }

		&:nth-child(2n) {
			width: 56px !important;
      height: 56px !important;

      img {
        width: 56px;
        height: 56px;
      }

		}

	}
}

.ripple-container {
	position: relative;
	width: 96px;
	height: 96px;
}
.ripple-trigger {
	position: absolute;
	z-index: 9;
	transition: transform 250ms ease-out;
	animation: beating 2s infinite ease-out;
	&:active {
		transform: scale3d(1.2, 1.2, 1);
	}
}
.ripple-1, .ripple-2 {
	position: absolute;
	z-index: 1;
	top: 2px;
	left: 2px;
	width: 92px;
	height: 92px;
	border-radius: 999em;
	background-color: rgba(color($colors, primary), .2);
	border: solid 1px rgba(color($colors, primary), .4);
	animation: rippling 2s infinite ease-out;
}

.ripple-2 {
	animation-delay: 350ms;
}

@keyframes beating {
	0% {
		transform: scale3d(1, 1, 1);
	}
	10% {
		transform: scale3d(1.2, 1.2, 1);
	}
	20% {
		transform: scale3d(0.95, 0.95, 1);
	}
	30% {
		transform: scale3d(1.05, 1.05, 1);
	}
	40% {
		transform: scale3d(1, 1, 1);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes rippling {
	0% {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
	100% {
		opacity: 0;
		transform: scale3d(5, 5, 1);
	}
}
