page-public {

  ion-content {
    background: linear-gradient(240deg, #3FF2D7 0%, #0372EF 100%) !important;
  }

  .headerDetail {
    background: transparent url("/assets/img/newLayout/home-header.svg") 0 0 repeat-x;
    position: absolute;
    top: 47px;

    width: 100%;
    height: 34px;
  }

  .title {
    position: absolute;
    top: 128px;

    width: 100%;

    color: #fff;
    font-size: 1.9rem;
    font-weight: bold;

    text-align: center;
  }

  .bottomButtons {
    position: absolute;
    bottom: 0;

    width: 100%;

    button {
      position: relative;
      margin: 0 auto 1.5rem auto;

      width: 70%;

      font-size: 12px;
      font-weight: bold;

      height: 48px;

      &.facebookButton {
        background: linear-gradient(-20deg, #0062F2 0%, #394499 100%) !important;
      }

    }

  }

}
