<ion-header no-border>
	<ion-navbar color="white">
		<ion-title>Cadastrar/Editar Vestuário</ion-title>

		<ion-buttons end>
			<button ion-button clear color="danger" (click)="save()">
				Salvar
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>



<ion-content class="bg-custom">
	<ion-list no-lines>
		<ion-list-header>
			Imagens
		</ion-list-header>
		<ion-item>
			<div class="profile-images-edit">
				<div class="profile-image" *ngFor="let image of profileImages; let i = index" (click)="openPhotoPicker(i)">
					<div [style.backgroundImage]="'url(' + profileImages[i] + ')'" class="div-img img-square r-3x"></div>
					<button ion-button icon-only clear class="btn-edit" (click)="removeImage(i)" *ngIf="profileImages[i] != ''">
						<ion-icon name="md-close" color="danger"></ion-icon>
					</button>
					<button ion-button icon-only clear class="btn-edit" *ngIf="profileImages[i] == ''">
						<ion-icon name="md-add-circle" color="danger"></ion-icon>
					</button>
				</div>
			</div>
		</ion-item>
	</ion-list>

	<ion-list no-lines>
		<ion-list-header>
			Título
		</ion-list-header>

		<ion-item class="text-muted" text-wrap>
			<input type="text" placeholder="qual peça você vai trocar?" />
		</ion-item>
	</ion-list>

		<ion-list no-lines>
			<ion-list-header>
				Tamanho
			</ion-list-header>

			<ion-item class="text-muted" text-wrap>
				<input type="text" placeholder="p, m, g ou 48?" />
			</ion-item>
		</ion-list>

	<select placeholder="apparel.type"></select>

	<ion-list no-lines>
		<ion-list-header>
			Hashtags
		</ion-list-header>

		<ion-item class="text-muted" text-wrap>
			<input type="text" placeholder="separe com vírgulas" />
		</ion-item>
	</ion-list>

	<ion-list no-lines>
		<ion-list-header>
			Descrição
		</ion-list-header>

		<ion-item class="text-muted" text-wrap>
			<ion-textarea placeholder="descreva detalhes para ajudar sua peça a ganhar um novo lar."></ion-textarea>
		</ion-item>
		<ion-item>
			<ion-note item-end>
				<span class="text-xs">435</span>
			</ion-note>
		</ion-item>
	</ion-list>

</ion-content>