<ion-navbar hideBackButton>
  <ion-buttons start>
    <button ion-button clear class="profileIcon off" *ngIf="activeView == 'main'" (tap)="goProfile()">
      <img src="assets/img/newLayout/header-profile-off.svg" width="24px" height="25px">
      <img src="assets/img/newLayout/header-push-pin.svg" class="pushPin" *ngIf="profilePush == true" width="8px" height="8px">
    </button>
    <button ion-button clear class="mainIcon off" *ngIf="activeView == 'chat'" (tap)="goMain()">
      <img src="assets/img/newLayout/header-main-off.svg" width="38px" height="25px">
    </button>
  </ion-buttons>

  <ion-title>
    <button ion-button clear class="mainIcon" *ngIf="activeView == 'main'">
      <img src="assets/img/newLayout/header-main-on.svg" width="47px" height="34px">
    </button>
    <button ion-button clear class="chatIcon" *ngIf="activeView == 'chat'">
      <img src="assets/img/newLayout/header-chat-on.svg" width="38px" height="34px">
    </button>
    <button ion-button clear class="profileIcon" *ngIf="activeView == 'profile'">
      <img src="assets/img/newLayout/header-profile-on.svg" width="34px" height="34px">
    </button>
  </ion-title>

  <ion-buttons end>
    <button ion-button clear class="chatIcon off" *ngIf="activeView == 'main'" (tap)="goChat()">
      <img src="assets/img/newLayout/header-chat-off.svg" width="38px" height="25px">
      <img src="assets/img/newLayout/header-push-pin.svg" class="pushPin" *ngIf="chatPush == true" width="8px" height="8px">
    </button>
    <button ion-button clear class="mainIcon off" *ngIf="activeView == 'profile'" (tap)="goMain()">
      <img src="assets/img/newLayout/header-main-off.svg" width="38px" height="25px">
    </button>
  </ion-buttons>
</ion-navbar>
